@media only screen and (min-width:1051px){
	

}


@media only screen and (min-width:960px) and (max-width:1189px){
.wrapper{
	width: auto;
	padding:0 10px; 
	}
.float_top_rightBox {
    right: 18px;
	}
.camera_caption {
    margin-top: 34px !important;
	}

.gelleryLists span p {
    font-size: 22px;
    padding: 64px 0 10px;
	}	
#header .navMenu ul li a {
    padding: 0 33%;
	}
	
	
	
.head_box .wrapper::before, .head_box .wrapper::after{
	display:none;
	}	

.flex-nav-next, .flex-nav-prev{
	opacity:0;
	}
.flexslider:hover .flex-nav-next, .flexslider:hover .flex-nav-prev{
	opacity:1;
	}




}

@media only screen and (min-width:769px) and (max-width:959px){
.wrapper{
	width: auto;
	padding:0 10px; 
	}
.float_top_rightBox {
    right: 18px;
	}
.camera_caption {
    margin-top: 24px !important;
    width: 343px !important;
	}

.gelleryLists span p {
    font-size: 19px;
    padding: 45px 0 10px;
    font-weight: 500;
	}	
#header .navMenu ul li a {
    padding: 0 33%;
	}
.top_hdBox {
    padding: 17px;
	border-radius: 0 0 24px 24px;
	}
.logo {
    text-align: left;
	 padding-bottom: 0;
	 }
.camera_caption {
    width: 373px;
	}
.camera_caption h1 {
    font-size: 43px;
    line-height: 33px;
	}
.camera_caption h2 {
    font-size: 32px;
	line-height: 36px;
	}
.camera_caption h3 {
    font-size: 27px;
	}
.camera_wrap {
    height:335px !important;
	}
.moreBtn {
    font-size: 17px;
    margin: 6px 0 47px;
    width: 124px;
	}
.welcomeSec h3 {
    font-size: 40px;
    padding: 0 0 12px;
	}
.aboutUsBox {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: none;
    padding: 40px 0;
    width: auto;
	}
.middle_right {
    float: none;
    width: auto;
	}
.ftSocialBox img {
    width: 100%;
	}
.employeeSec {
    text-align: center;
	}
.btn {
    margin: 13px auto;
	}

.head_box .wrapper::before, .head_box .wrapper::after{
	display:none;
	}	




.flex-nav-next, .flex-nav-prev{
	opacity:0;
	}
.flexslider:hover .flex-nav-next, .flexslider:hover .flex-nav-prev{
	opacity:1;
	}




}
@media only screen and (min-width:641px) and (max-width:768px){
.wrapper{
	width: auto;
	padding:0 10px; 
	}
.float_top_rightBox {
    right: 18px;
	}
.camera_caption {
    margin-top: 9px !important;
    width: 280px;
	}
.gelleryLists span p {
    font-size: 17px;
    font-weight: 500;
    padding: 31px 0 10px;
	}	
#header .navMenu ul li a {
    padding: 0 33%;
	}
.top_hdBox {
    padding: 17px;
	border-radius: 0 0 20px 20px;
	}
.logo {
    padding-bottom: 11px;
    text-align: left;
	}
.camera_caption h1 {
    font-size: 31px;
    font-weight: 700;
    line-height: 33px;
	}
.camera_caption h2 {
    font-size: 24px;
    line-height: 26px;
	}
.camera_caption h3 {
    font-size: 21px;
	}
.camera_caption p {
    font-size: 14px;
    line-height: 18px;
	}	
.camera_wrap {
    height:335px !important;
	}
.moreBtn {
    font-size: 17px;
    margin: 4px 0 47px;
    padding: 5px 0;
    width: 104px;
	}
.welcomeSec h3 {
    font-size: 40px;
    padding: 0 0 12px;
	}
.aboutUsBox {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: none;
    padding: 40px 0;
    width: auto;
	}
.middle_right {
    float: none;
    width: auto;
	}
.ftSocialBox img {
     float: none;
    margin: 0 auto;
    width: 268px;
	}
.employeeSec {
    text-align: center;
	}
.btn {
    margin: 13px auto;
	}
.logo img {
    width: 250px;
	}	
.hd_social {
    padding: 0 0 8px;
	}
.aboutUsBox h3 {
    font-size: 40px;
    padding: 0 0 12px;
	}	
.ft_info {
    width: 50%;
	}	
.ft_contact {
    width: 50%;
	}
.map {
    width: 50%;
	}
.ftSocialBox {
    float: none !important;
    text-align: center;
    width: 50%;
	}
.ft_cnt {
     border: medium none;
    min-height: 202px;
    padding: 0;
	}
.ft_social {
    float: none;
    margin: 0 auto;
    width: auto;
	display:table;
	}
.copyright > p {
    text-align: center;
	}
.head_box .wrapper::before, .head_box .wrapper::after{
	display:none;
	}

	
.flex-control-paging li a, .flex-control-paging li a.flex-active, .flex-control-paging li a:hover{
	height:10px !important;
	width:10px !important;
	}		
.flex-nav-next, .flex-nav-prev{
	opacity:0;
	}
.flexslider:hover .flex-nav-next, .flexslider:hover .flex-nav-prev{
	opacity:1;
	}
	
	
.banner::after {
    background-size: 100% auto;
    width: 100%;
	}		
	
	
}
@media only screen and (min-width:481px) and (max-width:640px){
.wrapper{
	width: auto;
	padding:0 10px; 
	}
.float_top_rightBox {
    position: relative;
    right: 0px;
    top: 0;
    width: auto;
	}
.hd_social li {
    margin: 0 8px 0 0;
	}
.camera_caption > div p {
    color: #000;
	}
.gelleryLists span p {
    font-size: 20px;
    font-weight: 500;
    padding: 64px 0 10px;
	}	
#header .navMenu ul li a {
    padding: 0 33%;
	}
.top_hdBox {
    padding: 12px;
	border-radius: 0 0 13px 13px;
	}
.logo {
    padding-bottom: 13px;
	}
.camera_caption h1 {
   /* font-size: 43px;
    font-weight: 700;*/
	display:none;
	}
.camera_caption h2 {
   /* font-size: 32px;
	line-height: 36px;*/
	display:none;
	}
.camera_caption h3 {
    /*font-size: 27px;*/
	display:none;
	}
.camera_wrap {
    height:335px !important;
	}
.moreBtn {
    /*margin:10px auto 47px;*/
	display:none;
	}
.camera_caption p{
	display:none;
	}
.responsive_caption{
	display:block;
	}
.welcomeSec h3 {
    font-size: 29px;
    padding: 0 0 8px;
	}
.aboutUsBox {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: none;
    padding: 24px 0;
    width: auto;
	}
.middle_right {
    float: none;
    width: auto;
	}
.ftSocialBox img {
    float: none;
    margin: 0 auto;
    width: 170px;
	}
.employeeSec {
    text-align: center;
	padding: 20px 20px 0 0;
	}
.btn {
    margin: 13px auto;
	}
.logo img {
    width: 170px;
	}	
.hd_social {
    float: left;
    padding: 0 0 8px;
	}
.aboutUsBox h3 {
    font-size: 29px;
    padding: 0 0 8px;
	text-align:center;
	}	
.ft_info {
    width: 50%;
	 padding: 0;
	}	
.ft_contact {
    width: 50%;
	padding: 0 0 0 20px;
	}
.map {
    width: 50%;
	padding: 0 0 0 0px;
	}
.ftSocialBox {
    float: none !important;
    text-align: center;
    width: 50%;
	}
.ft_cnt {
     border: medium none;
    min-height: 202px;
    padding: 0;
	}
.ft_social {
    float: none;
    margin: 0 auto;
    width: auto;
	display:table;
	}
.copyright > p {
    text-align: center;
	}
.head_box .wrapper::before, .head_box .wrapper::after{
	display:none;
	}
.camera_caption {
    margin-right: 22px;
    margin-top: 16%;
    text-align: right;
    width: 343px;
	}
p {
    font-size: 15px;
    font-weight: 500;
	}
.welcomeSec {
    padding: 46px 0 22px;
	}	
.loginSection {
    margin: 0;
	}
.gelleryLists li {
    width: 50%;
	}






.flex-control-paging li a, .flex-control-paging li a.flex-active, .flex-control-paging li a:hover{
	height:10px !important;
	width:10px !important;
	}		
.flex-nav-next, .flex-nav-prev{
	opacity:0;
	}
.flexslider:hover .flex-nav-next, .flexslider:hover .flex-nav-prev{
	opacity:1;
	}


.banner::after {
    background-size: 100% auto;
    width: 100%;
	}		







	
}
@media only screen and (min-width:321px) and (max-width:480px){
.wrapper{
	width: auto;
	padding:0 10px; 
	}
.float_top_rightBox {
    position: relative;
    right: 0px;
    top: 0;
    width: auto;
	}
.hd_social li {
    margin: 0 8px 0 0;
	}
.camera_caption > div p {
    color: #000;
	}
.gelleryLists span p {
    font-size: 16px;
    font-weight: 600;
    padding: 30px 0 10px;
	}	
#header .navMenu ul li a {
    padding: 0 33%;
	}
.top_hdBox {
    border-radius: 0 0 13px 13px;
    padding: 12px 12px 0px 12px;
	}
.logo {
    padding-bottom: 13px;
	}
.camera_caption h1 {
    /*font-size: 27px;
    font-weight: 700;
    line-height: 24px;*/
	display:none;
	}
.camera_caption h2 {
    /*font-size: 21px;
    line-height: 29px;*/
	display:none;
	}
.camera_caption h3 {
    /*font-size: 20px;
    font-weight: 600;*/
	display:none;
	}
.camera_wrap {
    height:265px !important;
	}
.moreBtn {
   /* margin:10px auto 28px;*/
   display:none;
	}
.camera_caption p{
	display:none;
	}
.responsive_caption{
	display: block;
    font-size: 16px;
	}		
.welcomeSec h3 {
    font-size: 22px;
    line-height: 27px;
    padding: 0 0 8px;
	}
.aboutUsBox {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: none;
    padding: 24px 0;
    width: auto;
	}
.middle_right {
    float: none;
    width: auto;
	}
.ftSocialBox img {
    float: none;
    margin: 0 auto;
    width: 170px;
	padding-top:0;
	}
.employeeSec {
      float: none;
    margin-bottom: 36px;
    padding: 20px 0 0;
    text-align: center;
    width: auto;
	}
.btn {
    font-size: 17px;
    margin: 13px auto;
	}
.logo img {
    width: 170px;
	}	
.hd_social {
    float: left;
    padding: 0 0 8px;
	}
.aboutUsBox h3 {
    font-size: 29px;
    padding: 0 0 8px;
	text-align:center;
	}	
.ft_info {
    width: 50%;
	 padding: 0;
	}	
.ft_contact {
    width: 50%;
	padding: 0 0 0 20px;
	}
.map {
    width: 50%;
	padding: 0 0 0 0px;
	}
.ftSocialBox {
    float: none !important;
    text-align: center;
    width: 50%;
	}
.ft_cnt {
    border: medium none;
    min-height: inherit;
    padding: 0;
	}
.ft_social {
    float: none;
    margin: 0 auto;
    width: auto;
	display:table;
	}
.copyright > p {
    line-height: 19px;
    text-align: center;
	padding: 10px 0 12px;
	}
.head_box .wrapper::before, .head_box .wrapper::after{
	display:none;
	}
.camera_caption {
    margin-right: 20px;
    margin-top: 14%;
    text-align: right;
    width: 124px;
	}
p {
    font-size: 15px;
    font-weight: 500;
	}
.welcomeSec {
    padding: 46px 0 22px;
	}	
.loginSection {
    float: none;
    margin: 0;
    width: auto;
	}
.gelleryLists li {
    width: 50%;
	}
.loginBox {
    width: 255px;
	}
.moreBtn {
    font-size: 18px;
    padding: 5px 0;
    width: 124px;
	}
.camera_caption > div p {
    color: #000;
	}
.aboutUsBox img {
    display: none;
	}
.loginForm::after {
    clear: both;
    content: "";
    display: block;
	}
.aboutBox .wrapper {
    border-bottom:none;
	}
.loginSection .btn {
    font-size: 16px !important;
	}
.gallery h3 {
    font-size: 30px;
	text-align:center;
	}

.ftLinks li {
    border-bottom: 1px solid #6e9e48;
    display: block;
    float: none;
    margin: 0 0 20px;
    padding-bottom: 20px;
    padding-left: 0;
    width: auto;
	}
.ftLinks li li{
    margin-bottom:0px;
	padding-bottom:7px;
	}
.ftLinks li li, .ftLinks li:last-child, .ftLinks li ul, .map > span{
    border:none;
	}
.ftLinks li:last-child{
	border: medium none;
    margin-bottom: 0;
    padding-bottom: 0;
	}
.map > span {
    margin-top: 0;
    padding-right: 0;
	}
.ft_social li {
    width: 39px !important;
	}
.mean-nav {
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
	}



.flex-control-paging li a, .flex-control-paging li a.flex-active, .flex-control-paging li a:hover{
	height:10px !important;
	width:10px !important;
	}		
.flex-nav-next, .flex-nav-prev{
	opacity:0;
	}
.flexslider:hover .flex-nav-next, .flexslider:hover .flex-nav-prev{
	opacity:1;
	}

.banner::after {
    background-size: 100% auto;
    width: 100%;
	}		



	

}
@media only screen and (max-width:320px){
.wrapper{
	width: auto;
	padding:0 10px; 
	}
.float_top_rightBox {
    position: relative;
    right: 0px;
    top: 0;
    width: auto;
	}
.hd_social li {
    margin: 0 8px 0 0;
	}
.gelleryLists span p {
    font-size: 20px;
    font-weight: 500;
    padding: 68px 0 10px;
	}	
#header .navMenu ul li a {
    padding: 0 33%;
	}
.top_hdBox {
    border-radius: 0 0 13px 13px;
    padding: 12px 12px 0px 12px;
	}
.logo {
    padding-bottom: 13px;
	}
.camera_caption h1 {
    /*font-size: 27px;
    font-weight: 700;
    line-height: 24px;*/
	display:none;
	}
.camera_caption h2 {
    /*font-size: 21px;
    line-height: 29px;*/
	display:none;
	}
.camera_caption h3 {
    /*font-size: 20px;
    font-weight: 600;*/
	display:none;
	}
.camera_caption p {
	display:none;
	}
.responsive_caption{
	display: block;
    font-size: 15px;
    line-height: 18px;
	}		
.camera_wrap {
    height:265px !important;
	}
.moreBtn {
    /*margin:10px auto 28px;*/
	display:none;
	}
.welcomeSec h3 {
    font-size: 22px;
    line-height: 27px;
    padding: 0 0 8px;
	}
.aboutUsBox {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: none;
    padding: 24px 0;
    width: auto;
	}
.middle_right {
    float: none;
    width: auto;
	}
.ftSocialBox img {
    float: none;
    margin: 0 auto;
    width: 170px;
	padding-top:0;
	}
.employeeSec {
      float: none;
    margin-bottom: 36px;
    padding: 20px 0 0;
    text-align: center;
    width: auto;
	}
.btn {
    font-size: 17px;
    margin: 13px auto;
	}
.logo img {
    width: 170px;
	}	
.hd_social {
     display: none;
	 /*float: left;
    padding: 0 0 8px;*/
	}
.aboutUsBox h3 {
    font-size: 29px;
    padding: 0 0 8px;
	text-align:center;
	}	
.ft_info {
    width: 50%;
	 padding: 0;
	}	
.ft_contact {
    width: 50%;
	padding: 0 0 0 20px;
	}
.map {
    width: 50%;
	padding: 0 0 0 0px;
	}
.ftSocialBox {
    float: none !important;
    text-align: center;
    width: 50%;
	}
.ft_cnt {
    border: medium none;
    min-height: inherit;
    padding: 0;
	}
.ft_social {
    float: none;
    margin: 0 auto;
    width: auto;
	display:table;
	}
.copyright > p {
    line-height: 19px;
    text-align: center;
	padding: 10px 0 12px;
	}
.head_box .wrapper::before, .head_box .wrapper::after{
	display:none;
	}
.camera_caption {
    margin-right: 20px;
    margin-top: 12%;
    text-align: center;
    width: 39%;
	}
p {
    font-size: 15px;
    font-weight: 500;
	}
.welcomeSec {
    padding: 46px 0 22px;
	}	
.loginSection {
    float: none;
    margin: 0;
    width: auto;
	}
.gelleryLists li {
    max-width: 300px;
    width: 100%;
    float: none;
    display: block;
	}
.loginBox {
    width: auto;
	}
.loginForm input[type="text"] {
    display: block;
    float: none;
    width: 100%;
	}	
.moreBtn {
    font-size: 18px;
    padding: 5px 0;
    width: 124px;
	}
.camera_caption > div p {
    color: #000;
	}
.aboutUsBox img {
    display: none;
	}
.loginForm::after {
    clear: both;
    content: "";
    display: block;
	}
.aboutBox .wrapper {
    border-bottom:none;
	}
.loginSection .btn {
    font-size: 16px !important;
	}
.gallery h3 {
    font-size: 30px;
	text-align:center;
	}

.ftLinks li {
    border-bottom: 1px solid #6e9e48;
    display: block;
    float: none;
    margin: 0 0 20px;
    padding-bottom: 20px;
    padding-left: 0;
    width: auto;
	}
.ftLinks li li{
    margin-bottom:0px;
	padding-bottom:7px;
	}
.ftLinks li li, .ftLinks li:last-child, .ftLinks li ul, .map > span{
    border:none;
	}
.ftLinks li:last-child{
	border: medium none;
    margin-bottom: 0;
    padding-bottom: 0;
	}
.map > span {
    margin-top: 0;
    padding-right: 0;
	}
.ft_social li {
    width: 39px !important;
	}
.mean-nav {
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
	}
.registerBox {
    display: table;
    float: none;
    margin: 0 auto;
    position: unset;
	}	
.registerBox.clear > li:first-child {
    margin-left: 0;
	}	
.loginBox::after {
    left: 23%;
    right: auto;
    top: -14px;
	}		
		
		
		
.flex-control-paging li a, .flex-control-paging li a.flex-active, .flex-control-paging li a:hover{
	height:10px !important;
	width:10px !important;
	}		
.flex-nav-next, .flex-nav-prev{
	opacity:0;
	}
.flexslider:hover .flex-nav-next, .flexslider:hover .flex-nav-prev{
	opacity:1;
	}
		

.banner::after {
    background-size: 100% auto;
    width: 100%;
	}		
		
		
		
		
		
		
			
					
}




