.custom-dropdown--large {
			font-size: 1.5em;
		}

		.custom-dropdown--small {
			font-size: .7em;
		}

		.custom-dropdown__select{
			font-size: inherit; /* inherit size from .custom-dropdown */
			padding: .5em; /* add some space*/
			margin: 0; /* remove default margins */
		}

		.custom-dropdown__select--white {
			background-color: #fff;
			color: #444;    
		}	
		
		.custom-dropdown__select--emerald {
			background-color: #fff;
			color: #fff;    
		}				

		.custom-dropdown__select--red {
			background-color: #d53a22;
			color: #fff;
		}

		@supports (pointer-events: none) and
				  ((-webkit-appearance: none) or
				  (-moz-appearance: none) or
				  (appearance: none)) {

			
			h2+p {
				color: green; /* Demo only */
			}

			.custom-dropdown {
				position: relative;
				display: inline-block;
				vertical-align: middle;
			}

			.custom-dropdown__select {
				padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */				
				border: 0;
				border-radius: 3px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;    
			}

			.custom-dropdown::before,
			.custom-dropdown::after {
				content: "";
				position: absolute;
				pointer-events: none;
			}

			.custom-dropdown::after { /*  Custom dropdown arrow */
				content: "\25BC";
				   color: #000;
    font-size: 17px;
    height: 1em;
    line-height: 1;
    margin-top: -0.5em;
    right: 5px;
    top: 19px;
			}

			.custom-dropdown::before { /*  Custom dropdown arrow cover */
				 border-radius: 0 3px 3px 0;
    bottom: 0;
    height: 32px;
    right: 1px;
    top: 1px;
    width: 2em;
			}

			.custom-dropdown__select[disabled] {
				color: rgba(0,0,0,.3);
			}

			.custom-dropdown.custom-dropdown--disabled::after {
				color: rgba(0,0,0,.1);
			}

			/* White dropdown style */
			.custom-dropdown--white::before {
				top: .5em; bottom: .5em;
				background-color: #fff;
				border-left: 1px solid rgba(0,0,0,.1);
			}

			.custom-dropdown--white::after {
				color: rgba(0,0,0,.9);
			}					

			/* Emerald dropdown style */
			
			
.custom-dropdown--emerald:before {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07) inset;
}

			.custom-dropdown--emerald::after {
				color: rgba(0,0,0,.4);
			}


			/* Red dropdown style */
			.custom-dropdown--red::before {
				background-color: #d53a22;
			}

			.custom-dropdown--red::after {
				color: rgba(0,0,0,.4);
			}

			/* FF only temporary & ugly fixes */
			/* the "appearance: none" applied on select still shows a dropdown arrow on Firefox */
			/* https://bugzilla.mozilla.org/show_bug.cgi?id=649849 */
			@-moz-document url-prefix() {
				.custom-dropdown__select 						 { padding-right: .9em }
				.custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
				.custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
			}	

		}

        /* Demo only */

        #about {
            margin: 50px 0 0 0;
            color: #eee;
        }
        
        #about a {
            color: #777;
        }

        .custom-dropdown {
             display: inline-block;
    float: left;
    margin: 0;
    width: 75%;
        }        